*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}

body{

background:#4ec0ff;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

canvas{

background:linear-gradient(#87ceeb,#4ec0ff);

border:4px solid white;

display:none;

}

#menu{

position:absolute;

text-align:center;

color:white;

}

#menu h1{

font-size:60px;

margin-bottom:20px;

}

button{

padding:15px 40px;

font-size:22px;

border:none;

border-radius:12px;

cursor:pointer;

background:#00c853;

color:white;

}

button:hover{

background:#00e676;

}

#gameOver{

display:none;

position:absolute;

text-align:center;

color:white;

}

#gameOver h2{

font-size:50px;

margin-bottom:20px;

}
